<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="NewCardUIDToParsec.Properties.Settings.Parsec3ConnectionString"
      connectionString="Data Source=DRGSKD01\PARSECSQLEXPRESS;Initial Catalog=Parsec3;Persist Security Info=True;User ID=NewCardUIDWriter;Password=NewCardUIDWriter"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="readerPort" value="COM4"/>
    <add key="openPortDelay" value="2000"/>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
